# OS artifacts
.DS_STORE

# Tools artifacts
node_modules
coverage
.eslintcache
*.log
*.pem
tsconfig.tsbuildinfo
dump.rdb
logfile

# Project artifacts
__benchmarks_results__/
testing_dev/

# Builds
scripts/private/
packages/**/pageObjects/**/*.js
packages/**/pageObjects/**/*.d.ts
packages/*/build/
packages/*/dist/