# OS artifacts
.DS_STORE

# Tools artifacts
node_modules
coverage
.eslintcache
*.log
*.pem
tsconfig.tsbuildinfo
dump.rdb
logfile

# Project artifacts
__benchmarks_results__/
testing_dev/

# Builds
scripts/private/
packages/@utam/*/build/
packages/@utam/*/dist/
packages/**/pageObjects/**/*.js
packages/**/pageObjects/**/*.d.ts
packages/*/build/
packages/*/dist/
packages/**/__compiled_fixtures__/*.js
packages/playground/public/assets/js/views/

# db volume
db-data/

# testing
packages/**/debug*