.github/
build/
dist/
node_modules/
packages/playground/public/assets/js/views/
packages/integration-karma/pageObjects/
packages/vanilla-js-components/pageObjects/
packages/@utam/tmp-pageobjects/pageObjects/
packages/integration-tests/pageObjects/

packages/**/__compiled_fixtures__/*.js

